<div class="four wide column">
    <h4 class="ui header">{{ 'sylius.ui.payment_methods'|trans  }}</h4>
    <div>
        <i class="huge cc mastercard icon"></i>
        <i class="huge cc visa icon"></i>
        <i class="huge cc paypal card icon"></i>
    </div>
</div>
