{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui center aligned icon header">
        {{ 'sylius.ui.the_page_you_are_looking_for_is_forbidden'|trans }}
    </h2>

{% endblock %}
