<div class="ui center aligned basic segment">
    <a href="//instagram.com/margeriam/" title="Instagram" aria-label="Instagram"><i class="big grey instagram icon"></i></a>
    <a href="//www.pinterest.com/amiranei951036/" title="Pinterest" aria-label="Pinterest"><i class="big grey pinterest card icon"></i></a>
</div>
