<div class="ui center aligned basic segment">
    <a target="_blank" href="//instagram.com/margeriam/"><i class="big grey instagram icon"></i></a>
    <a target="_blank" href="//www.pinterest.com/amiranei951036/"><i class="big grey pinterest card icon"></i></a>
</div>
